$LightBlue: #ccf6ff;
$White: #f7f7f7;
$Gold: #926d00;
$Black: #1e2329;
$Orange: rgb(247, 147, 30);
$DarkBlue: #1b1464;
$ClearText: #8b91da;
$Pink: #fc1ab8;
$DarkPink: #9d1374;

$TransparentPink: #fc1ab811;
$SectionBackground: #dee4ef;
$TitleDarkBackground: rgba(0, 0, 0, 0.4);
$LightPurple: #efd6fe;
$Yellow: #f2dd19;
$DarkYellow: #d5c21a;
$LightYellow: #f3ea94;
