.fade {
  opacity: 0;
}
.fadeIn {
  animation: 1s fade-in ease-in;
  opacity: 1;
}
@keyframes fade-in {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  75% {
    transform: translateY(2%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
